@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(139, 205, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "VT323", monospace;
  font-size: 1em;
  color: rgb(40, 9, 80);
}
canvas {
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
div h2 {
  color: rgb(107, 23, 40);
}
.screen {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-weight: bolder;
}
div p {
  font-size: 2em;
  color: rgb(53, 47, 119);
}
.control {
  color: rgb(115, 116, 180);
}

button {
  font: inherit;
  font-size: 1em;
  background-color: rgb(59, 59, 66);
  color: white;
  border: 0;
  padding: 1em;
}

.main {
  font-size: 4em;
  color: rgb(173, 115, 127);
}

#start-screen {
  background-image: url("/Images/space_Background_2048.png");
  background-size: cover;
  background-position: center center;
}
#game-over-screen {
  background-size: cover;
  background-position: center center;
}
#arrows {
  align-items: center;
}
#level-up-screen {
  background-size: cover;
  background-position: center center;
}
.container {
  justify-content: center;
}
