html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(204, 174, 174);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.screen {
  background-color: rgb(214, 207, 233);
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font: inherit;
  background-color: rgb(33, 65, 6);
  color: white;
  border: 0;
  padding: 1em;
}

#start-screen {
  background-image: url("/Images/42672.jpg");
}
