html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgb(47, 124, 143);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.screen {
  width: 800px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(153, 45, 13);
}

button {
  font: inherit;
  background-color: rgb(4, 5, 61);
  color: white;
  border: 0;
  padding: 1em;
}
#start-screen {
  background-size: cover;
  background-position: center center;
}
#game-over-screen {
  background-image: url("/Images/42506.jpg");
  background-size: cover;
  background-position: center center;
}
#arrows {
  align-items: center;
}
#level-up-screen {
  background-size: cover;
  background-position: center center;
}
